---
---

@import "{{ site.theme }}";

html {
	background-color: black;
	color: white;
	height: 100%;
}

body {
	background-color: black;
	color: white;
	min-height: 100%;
}

.imageClass {
	max-width: 15%; 
	height: auto; 
}
