---
---


* {
    box-sizing: border-box;
}


/* Style the active class */

.active {    
    transform: translateY(4px);    
    box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 1) !important;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95 !important;
}

.button:hover {
    color: white;
}

A {
    text-decoration: none;
}

html {
    background-color: black;
    color: white;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    min-height: 100%;
}

.imageClass {
    max-width: 15%;
    height: auto;
}

.column {
    float: left;
    width: 14%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    border-radius: 2px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4);
    padding: 2px;
    text-align: center;
    margin-bottom: 10px;
}

.card-light {
    border-radius: 2px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4);
    padding: 2px;
    text-align: center;
    margin-bottom: 10px;
    background-color: darkgrey;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
