---
---


* {
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    min-height: 100%;
}

/* style and animte the header logo */
.logo {
    animation-name: logo;
    animation-duration: 3s;
}

@keyframes logo {
    from {
        filter: blur(10px);
        transform: translateY(4px);
    }
    to {
        filter: blur(0px);
        transform: translateY(0px);
    }
}


/* Style and animate the active class */

.active {
    animation-name: active;
    animation-duration: 0.5s;
    box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 1) !important;    
    transform: translateY(4px);
}

@keyframes active {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(4px);
    }
}

A {
    text-decoration: none;
}

/* style the deck of cards */
.column {
    float: left;
    width: 14%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    border-radius: 10px;    
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.card-light {
    border-radius: 10px;    
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: darkgrey;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
